button{
    width: 250px;
    height: 52px;
    background-color: hwb(0 0% 100%);
    color: white;
    border-radius: 62px;
    font-size: 16px;
    padding: 54;
    border: none;
    text-align: center;
}