.nav_bar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav_bar_text1{
    font-size: 14px;
    color: white;
}
.nav_bar_text2{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}